.skeleton {
	vertical-align: top;
	background-image: url('../pic/quarter/skeleton.jpg');
	background-repeat: no-repeat;
	background-position: 50% 15%;
	background-size: 460px 640px;
	padding: 5px;
	width: 220px;
	display: inline-block;
	margin: 3px;
	border: solid 3px #000;
}

.skeleton span {
	display: inline-block;
	width: 40px;
	margin-left: 10px;
	font-weight: bold;
}


.skeleton button {
	padding-bottom: 2px;
	padding-top: 2px;
	font-weight: bolder;
	font-size: 12px;
	display: list-item;
	margin-left: 5px;
	margin: 1px;
	background-color: #fff;
	border-color: #ccc;
	color: #333;
	width: 90px;
}

.skeleton button:hover {
 	background-color: #666;
 	border-color: #333;
 	cursor: pointer;
 	color: #fff;
}

.hitstatsDiv {
	display: inline-block;
}

.skeleton .atkDiv {
	height: 160px;
}
